<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921277221310-pfpcidgfl0tlnaiqigc461b8kar234c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921277221310-pfpcidgfl0tlnaiqigc461b8kar234c4</string>
	<key>API_KEY</key>
	<string>AIzaSyAbE4fjurgUtOzRDCGFwXgcFJEiw4PAvsw</string>
	<key>GCM_SENDER_ID</key>
	<string>921277221310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.churchApp</string>
	<key>PROJECT_ID</key>
	<string>icgc-app-b4822</string>
	<key>STORAGE_BUCKET</key>
	<string>icgc-app-b4822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921277221310:ios:6a43451c022b8f615d91ef</string>
	<key>DATABASE_URL</key>
	<string>https://icgc-app-b4822-default-rtdb.firebaseio.com</string>
</dict>
</plist>